@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navContainer {
  width: 100vw;
  background: orange;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: larger;
}
.navHeader {
  display: flex;
  justify-content: space-between;
}
.nav-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 0;
  overflow: hidden;
  transition: 0.3s ease-in-out all;
}
.nav-link {
  text-decoration: none;
}
.companyInfo {
  margin: auto;
}
.nav-btn {
  width: 2rem;
  background: orange;
  margin-right: 1rem;
}
.nav-btn:hover {
  background-color: blue;
}
.nav-btn:active {
  background-color: green;
}
.companyName {
  text-decoration: none;
}
a:visited {
  color: black;
}
.show-links {
  height: 87px;
}
.contacts {
  text-decoration: none;
}

@media screen and (min-width: 500px) {
  /*  */
  .navContainer {
    height: 3rem;
    justify-content: flex-start;
    flex-direction: row;
  }
  .navHeader {
    width: 30vw;
    border: 3px solid red;
  }
  .nav-btn {
    display: none;
  }
  .nav-links {
    border: 3px solid blue;
    height: 3rem;
    display: flex;
    flex-direction: row;
  }
  .nav-link {
    display: flex;
    justify-content: flex-end;
    margin: auto 20px;
  }
  .contacts {
    margin-left: 50rem;
  }
}
