@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
}

/* NavBar */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navContainer {
  width: 100vw;
  background: orange;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: larger;
}
.navHeader {
  display: flex;
  justify-content: space-evenly;
}
.nav-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 0;
  overflow: hidden;
  transition: 0.3s ease-in-out all;
}
.nav-link {
  text-decoration: none;
}
.companyInfo {
  display: flex;
  align-items: center;
}
.nav-btn {
  width: 2rem;
  background: orange;
  margin-right: 1rem;
}
.nav-btn:hover {
  background-color: blue;
}
.nav-btn:active {
  background-color: green;
}
.companyName {
  text-decoration: none;
}
a:visited {
  color: black;
}
.show-links {
  height: 87px;
}
.contacts {
  text-decoration: none;
}

@media screen and (min-width: 600px) {
  /*  */
  .navContainer {
    height: 3rem;
    justify-content: flex-start;
    flex-direction: row;
  }
  .navHeader {
    width: 30vw;
  }
  .nav-btn {
    display: none;
  }
  .nav-links {
    height: 3rem;
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    transition: none;
  }
  .nav-link {
    margin: auto 20px;
  }
  .contact-link {
    margin-left: auto;
    margin-right: 2rem;
  }
}

/* end of NavBar */

/* Cover */
.home-cover {
  margin-top: 1px;
  height: 80vh;
  width: 100vw;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)),
    url("../images/cover.jpg");
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;
}
.cover-e {
  color: white;
  text-align: center;
  margin-top: auto;
}
/* end of cover */

/* Hot Items */

.h-itemsStarter {
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* end of Hot Items */
